/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

p {
	font-family: Courier, "Times New Roman", serif;
	font-size: 15px;
	line-height: 20px;
}

img {
	display: block;
	max-width: 100%;
}

.header {
	background: rgb(80,121,177);
	background: linear-gradient(0deg, rgba(80,121,177,1) 49%, rgba(94,131,181,1) 100%);
	opacity: 0.8
}

.circle{
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 50%;
}

.js-menu {
	color: black;
}


.btn:hover {
	color: #fff;
	border-color: #fff;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000;
}

.subtitulo {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto;
}

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}
.subtitulo-footer {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-footer:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: white;
	margin: 8px 0;
}

.navigation .navigation-li {
	color: black;
}
.text-service {
	margin-top: 1rem;
}

.footer_redes ul li {
	display: inline-block;
	margin-right: 10px;
}

.footer_redes ul li a:hover {
	border-color: #fff;
}

.copy {
	width: 100%;
	background: rgb(80,121,177);
	background: linear-gradient(0deg, rgba(80,121,177,1) 49%, rgba(94,131,181,1) 100%);
	padding: 20px 0;
}


.about {
	width: 100%;
	background: rgb(126,167,224);
	background: linear-gradient(122deg, rgba(126,167,224,1) 49%, rgba(126,176,242,1) 100%);
	padding: 40px 0;
}

.about .call p {
	color: #fff;
}

.produtos_icone{
	border-right: 3px solid black;
	border-top: 3px solid black;
	border-left: 3px solid black;
}

.bg-card{
	background: #e6f5fd;
	border-radius: 4px;
}

.card-transition-missao-valores{
	animation-name: card-transition-animation-about;
	animation-duration: 2s;
}
@keyframes card-transition-animation-about {
	from {
		transform: translate3D(-100px,0,0);
		opacity: 0;

	}
	to {
		transform: translate3D(0,0,0);
		opacity: 100;

	}
}
.card-transition-visao{
	animation-name: card-transition-animation-visao;
	animation-duration: 2s;
}
@keyframes card-transition-animation-visao {
	from {
		transform: translate3D(100px,0,0);
		opacity: 0;

	}
	to {
		transform: translate3D(0,0,0);
		opacity: 100;
	}
}
.service-description{
	text-align: center;
	background: rgb(80,121,177);
	background: linear-gradient(0deg, rgba(80,121,177,1) 49%, rgba(94,131,181,1) 100%);
	padding: 20px;
	border: 3px solid black;
	color: white;
	min-height: 240px;
}

.title-services {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.title-services:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 10px auto;
}
.icon-hover:hover {
	transform: scale(1.1);
}

.btn-outline-default{
	background: #fff!important;
	border-color: cornflowerblue!important;
	color: cornflowerblue!important;
}
.btn-outline-default:hover{
	background: rgb(80,121,177)!important;
	color: #fff!important;
	border-color: cornflowerblue!important;
}

.fa-instagram {
	background: linear-gradient(45deg, #405de6, #5851DB, #c13584, #e1306c, #fd1d1d);
	color: white;
}

.icon-card {
	width: 75px;
}
.icon-social {
	width: 40px;
}
.icon-social:hover {
	transform: scale3d(1.1, 1.1, 1.1);
}